body {
  margin: 0;
  font-family: "Lucida Bright", Georgia, serif; }

header {
  background-color: #821918;
  display: flex;
  justify-content: space-between;
  height: 120px; }
  header .header_image {
    margin: auto 20px; }
    header .header_image img {
      width: 16vw; }
  header .header_banner {
    margin: auto 60px auto 0; }
    header .header_banner img {
      width: 55vw;
      height: 80px; }

nav {
  background-color: black; }
  nav ul {
    height: 40px;
    margin: 0;
    padding: 0 5px; }
  nav li {
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block; }
  nav a {
    text-decoration: none;
    color: white; }
  nav nav a:hover {
    background-color: red;
    color: black; }

#content {
  width: 90%;
  margin: auto; }
  #content .date {
    text-align: right; }
  #content .top_news {
    font-weight: bold;
    background-color: lightgray;
    padding: 10px 10px;
    font-size: 1.2em; }

#container1 {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  #container1 .fswd1 {
    align-self: stretch;
    flex: 0 15%;
    justify-content: end; }
  #container1 .together {
    flex: 0 80%; }
    #container1 .together .first_row, #container1 .together .second_row {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between; }
      #container1 .together .first_row .img_div, #container1 .together .second_row .img_div {
        flex: 0 30%;
        height: 26vh;
        width: 22vw;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column; }
        #container1 .together .first_row .img_div p, #container1 .together .second_row .img_div p {
          background-color: black;
          color: white;
          min-height: 40px;
          margin-top: auto;
          margin-bottom: 0px; }
      #container1 .together .first_row .img1, #container1 .together .second_row .img1 {
        background-image: url("./img/nasa.png"); }
      #container1 .together .first_row .img2, #container1 .together .second_row .img2 {
        background-image: url("./img/eu.png"); }
      #container1 .together .first_row .img3, #container1 .together .second_row .img3 {
        background-image: url("./img/jeff.png"); }
      #container1 .together .first_row .img4, #container1 .together .second_row .img4 {
        background-image: url("./img/polar.png"); }
      #container1 .together .first_row .img5, #container1 .together .second_row .img5 {
        background-image: url("./img/musk.jpg"); }
      #container1 .together .first_row .img6, #container1 .together .second_row .img6 {
        background-image: url("./img/snowden.jpg"); }
  #container1 .how_to {
    margin: auto;
    width: 100%; }
    #container1 .how_to img {
      width: 100%;
      height: 15vh; }
    #container1 .how_to .top_news {
      font-weight: bold;
      background-color: lightgray;
      padding: 10px 10px;
      font-size: 1.2em; }

/*# sourceMappingURL=scss_codeReview2.css.map */
