body {
margin: 0;
font-family: "Lucida Bright", Georgia, serif;
}
header {
background-color: #821918;
display: flex;
justify-content: space-between;
height: 120px;
.header_image {
margin: auto 20px;
img {
width: 16vw;}
}
.header_banner {
margin: auto 60px auto 0;
img {
width: 55vw;
height: 80px;
}
}
}
nav {
background-color: black;
ul {
height: 40px;
margin: 0;
padding: 0 5px;
}
li {
font-weight: bold;
padding: 10px 15px;
display: inline-block;
}
a {
text-decoration: none;
color: white;
}
nav a:hover {
background-color: red;
color: black;
}
}

#content {
width:90%;
margin: auto;
.date {
text-align: right;
}
.top_news, {
font-weight: bold;
background-color: lightgray;
padding: 10px 10px;
font-size: 1.2em;
}
}
#container1 {
display: flex;
justify-content: space-between;
width: 100%;

.fswd1 {
align-self: stretch;
flex: 0 15%;
justify-content: end;
}
.together {
flex: 0 80%;

.first_row, .second_row {
width: 100%;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: space-between;

.img_div {
flex: 0 30%;
height: 26vh;
width: 22vw;
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: column;

	p {
		background-color: black;
		color: white;
		min-height: 40px;
		margin-top: auto;
		margin-bottom: 0px;
	}
}
.img1 {
background-image: url('./img/nasa.png');
}
.img2 {
background-image: url('./img/eu.png');
}
.img3 {
background-image: url('./img/jeff.png');
}
.img4 {
background-image: url('./img/polar.png');
}
.img5 {
background-image: url('./img/musk.jpg');
}
.img6 {
background-image: url('./img/snowden.jpg');
	}
}
}
.how_to {
margin: auto;
width: 100%;
img {
width: 100%;
height: 15vh;
}
.top_news {
font-weight: bold;
background-color: lightgray;
padding: 10px 10px;
font-size: 1.2em;
}

}
}