$black: #101010;

body {
	margin: 0;
	font-family: "Lucida Bright", Georgia, serif;
}

header {
	background-color: #821918;
	display: flex;
	justify-content: space-between;
	height: 120px;
	@media screen and (max-width: 480px) {
		height: 60px;

	}
	.header_image {
		margin: auto 10px auto 80px;
		img {
			width: 20vw;
		}
		@media screen and (max-width: 900px) and (min-width: 481px){
			margin: auto 5px auto 45px;
		}
	}
	.header_banner {
		margin: auto 80px auto 0;
		img {
			width: 45vw;
			height: 80px;
		}
		@media screen and (max-width: 900px) and (min-width: 481px){
			margin: auto 40px auto 5px;
		}
	}
	@media screen and (max-width: 480px) {
		.header_banner {
			display: none;
		}
		.header_image {
			margin-left: 26px;
			img {
				width: 30vw;
			}
		}
	}	
}
					/* -------- NAV BAR --------*/
nav {
	background-color: black;
	ul {
		height: 40px;
		margin: 0 0 0 60px;
		padding: 0 5px;
			@media screen and (max-width: 900px) and (min-width: 481px){
			text-align:center;
			margin: 0 auto;
			}
			@media screen and (max-width: 481px) {
			text-align: center;
			margin: 0 auto;
	}
		li {
			font-weight: bold;
			padding: 10px 15px;
			display: inline-block;

			&:hover {
				background-color: red;
				color: black;
			}
			a {
				text-decoration: none;
				color: white;
			}
		}
	}
}
					/* -------- CONTENT BEGINS --------*/
#content {
	width:90%;
	margin: auto;
	.date {
		text-align: right;
	}
	.top_news, {
		font-weight: bold;
		background-color: lightgray;
		padding: 10px 10px;
		font-size: 1.2em;
	}
	@media screen and (max-width: 480px) {
	.date {
	 	display: none;
	 	}
	}
	a {
		text-decoration: none;
	}
}
					/* -------- CONTAINER 1 WITH PICTURES -------- */
#container1 {
	display: flex;
	justify-content: space-between;
	width: 100%;

	.fswd1 {
		flex: 0 12%;
		justify-content: end;
		display: flex;
		img {
			align-self: stretch;
			flex: 0 100%;
		}
	}
	@media screen and (max-width: 900px) and (min-width: 481px){
		.fswd1 {
			display: none;
		}.img_div {
			flex: 0 30%;
		}
	}
	@media screen and (max-width: 480px) {
		.fswd1 {
			display: none;
		}
	}

	.together {
		flex: 0 85%;
								
								/* ------- FIRST AND SECOND ROW OF PICTURES -------*/

		.first_row, .second_row {
			width: 100%;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-between;

			.img1 {
				background-image: url('./img/nasa.png');
				@media screen and (max-width: 480px) {
				margin-bottom: 20px;}
			}
			.img2 {
				background-image: url('./img/eu.png');
			}
			.img3 {
				background-image: url('./img/jeff.png');
			}
			.img4 {
				background-image: url('./img/polar.png');
				@media screen and (max-width: 480px) {
				margin-bottom: 20px;}
			}
			.img5 {
				background-image: url('./img/musk.jpg');
			}
			.img6 {
				background-image: url('./img/snowden.jpg');
				@media screen and (max-width: 480px) {
				margin-bottom: 20px;}
			}
			.img11 { background-image: url('./img/banner2.png');
				display: none;
			}
			@media screen and (min-width: 480px) {
				#idimg11 {
					display: none;

				}
			}

			.img_div {
				flex: 0 30%;
				height: 26vh;
				width: 22vw;
				background-size: cover;
				background-repeat: no-repeat;
				display: flex;
				flex-direction: column;
			
				p {
					background-color: $black;
					color: white;
					min-height: 40px;
					margin-top: auto;
					margin-bottom: 0px;
					font-weight: bold;
				}
			}
		}
	}

						/* -------- MEDIA QUERIES FOR CONTAINER 1 ---------*/

	@media screen and (max-width: 900px) and (min-width: 480px){
		.together {
			flex: 0 100%;
		}
	}

	@media screen and (max-width: 480px) {
		.together {
			flex: 0 100%;
			.first_row, .second_row {
				flex-wrap: wrap;
				.img_div{
					flex: 0 48%;
				}
			}
		}
	}

		.top_news {
			font-weight: bold;
			background-color: lightgray;
			padding: 10px 10px;
			font-size: 1.2em;
		}
}
.fswd2 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	img {
		margin: 30px 0;
		width: 100%;
		height: 15vh;
	}
	@media screen and (max-width: 480px) {
		display: none;
	}
}

							/* ------- CONTAINER 2 WITH PICTURES ------- */

#container2 {
	display: flex;
	justify-content: space-between;
	width: 100%;

	.together2{
		flex: 0 85%;

		.third_row, .fourth_row {
			width: 100%;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-between;
		
			.img7 {
				background-image: url('./img/iphone.png');
			}
			.img8 {
				background-image: url('./img/smart.png');
			}
			.img9 {
				background-image: url('./img/ear.png');
			}
			.img10 {
				background-image: url('./img/phone.png');
			}

			.img_div {
				flex: 0 48%;
				height: 50vh;
				width: 36vw;
				background-size: cover;
				background-repeat: no-repeat;
				display: flex;
				flex-direction: column;
			
			
				&.img7, .img8 {
					margin-bottom: 45px;
					@media screen and (max-width: 480px) {
					margin-bottom: 20px;}
				}

				p {
					background-color: $black;
					color: white;
					min-height: 50px;
					margin-top: auto;
					margin-bottom: 0px;
					font-weight: bold;
					font-size: 1.8em;
				}
			}
		}
	}
	.fswd1 {
		flex: 0 12%;
		justify-content: end;
		display: flex;
		img {
			align-self: stretch;
			flex: 0 100%;
		}
	}

					/* ----- MEDIA QUERIES FOR CONTAINER 2 ------- */

	@media screen and (max-width: 900px) and (min-width: 480px){
		.fswd1 {
			display: none;
		}
		.together2 {
			flex: 0 100%;
		}
	}
	@media screen and (max-width: 480px) {
		.fswd1 {
			display: none;
		}
		.together2 {
			flex: 0 100%;
			.third_row, .fourth_row {
				flex-wrap: wrap;
				.img_div {
					height: 26vh;
					p {
						font-size: 1em;
					}

				}
			}
		}
	}
}

						/* ------ FOOTER ----- */

footer {
	margin-top: 30px;
	margin-bottom: 0;
	background-color: black;
	height: 200px;
	ul {
		height: 40px;
		margin: 0 50px;
		padding: 0 5px;
			@media screen and (max-width: 900px) and (min-width: 480px){
				margin: 0 35px;
			}
		li {
			font-weight: bold;
			padding: 10px 15px;
			display: inline-block;
			&:hover {
				background-color: red;
				color: black;
			}
			a {
				text-decoration: none;
				color: white;
				font-size: 1.2em;
			}
		}
	}
	.header_image {		
		margin: 30px 80px;
		text-align: right;
			@media screen and (max-width: 900px) and (min-width: 480px){
				margin: 0 35px;
			}
		img {
			height: 50px;
		}
	}
	p {
		color: white;
		font-weight: bold;
		text-align: center;
		margin: 0 auto;
	}

						/* ---------- FOOTER MEDIA QUERIES ---------- */

	@media screen and (max-width: 480px) {
		height: 150px;
		ul {
			text-align: center;
			padding-top: 5px;
			li {
				padding: 2px 4px;
			}
		}	
		.header_image {
			text-align: center;
			margin: 10px 0;
		}	
	}
}